# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [43]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)


# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [44]:
#calculate the total number of schools
total_num_schools = len(school_data_complete["School ID"].unique())

total_num_schools

15

In [45]:
#calculate the total number of student
total_num_students = len(school_data_complete["Student ID"].unique())

total_num_students

39170

In [46]:
#calculate the total budget
total_budget = sum(school_data_complete["budget"].unique())

total_budget

24649428

## School Summary

In [47]:
#calculate average math scores
avg_math_score = school_data_complete["math_score"].mean()

avg_math_score

78.98537145774827

In [48]:
#calculate average reading score 
avg_reading_score = school_data_complete["reading_score"].mean()

avg_reading_score

81.87784018381414

In [49]:
#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_passing_rate = (avg_math_score + avg_reading_score)/2

overall_passing_rate

80.43160582078121

In [50]:
#Calculate the percentage of students with a passing math score (70 or greater)
school_data_complete["passing_math"] = school_data_complete["math_score"] >= 70
school_data_complete["passing_reading"] = school_data_complete["reading_score"] >=70

percent_pass_math = ((school_data_complete["passing_math"]).mean())*100

percent_pass_math

74.9808526933878

In [51]:
#Calculate the percentage of students with a passing reading score (70 or greater)
percent_pass_reading = ((school_data_complete["passing_reading"]).mean())*100

percent_pass_reading

85.80546336482001

In [52]:
##Create a dataframe to hold the above results
#Optional: give the displayed data cleaner formatting
final_results = [{"Total_Schools": total_num_schools, 
            "Total_Students": total_num_students, 
            "Total_Budget": total_budget, 
            "Average_Math_Score":  round(avg_math_score,2), 
            "Average_Reading_Score":  round(avg_reading_score,2), 
           "%Passing_Math": round(percent_pass_math,2),
           "%Passing_Reading": round(percent_pass_reading,2),
           "Overall_Passing_Rate": round(overall_passing_rate,2)}]

final_summary_table = pd.DataFrame(final_results)

#Arrange columns
final_summary_table = final_summary_table[[
                                     "Total_Schools",
                                     "Total_Students",
                                     "Total_Budget",
                                     "Average_Math_Score",
                                     "Average_Reading_Score",
                                     "%Passing_Math",
                                     "%Passing_Reading",
                                     "Overall_Passing_Rate" ]]



#Display
final_summary_table

,Total_Schools,Total_Students,Total_Budget,Average_Math_Score,Average_Reading_Score,%Passing_Math,%Passing_Reading,Overall_Passing_Rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,80.43

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [53]:
#define school_data_completE
school_data_complete["passing_math"] = school_data_complete["math_score"] >= 70
school_data_complete["passing_reading"] = school_data_complete["reading_score"] >= 70

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,False,True
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,False,True
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,True,False
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,False,True
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,False,True
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,True,False
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [54]:
#group school name by using the groupby function
grouped_school_summary = school_data_complete.groupby(["school_name"]).mean()
grouped_school_summary["Per Student Budget"] = round(grouped_school_summary["budget"]/grouped_school_summary["size"],2)
grouped_school_summary["% Passing Math"] = round(grouped_school_summary["passing_math"]*100,2)
grouped_school_summary["% Passing Reading"] = round(grouped_school_summary["passing_reading"]*100,2)
grouped_school_summary["Average Math Score"] = round(grouped_school_summary["math_score"].mean(),2)
grouped_school_summary["Average Reading Score"] = round(grouped_school_summary["reading_score"].mean(),2)
grouped_school_summary["% Overall Passing Rate"] = round(((grouped_school_summary["passing_math"] + 
                                                       grouped_school_summary["passing_reading"])/2)*100,2)

#merge grouped_school_summary with school_data
school_summary_data = pd.merge(grouped_school_summary, school_data, how="left", on=["school_name" , "school_name"])


#create a dataframe to store result
df_school_summary_data = pd.DataFrame({"School Name":school_summary_data["school_name"],
                                                "School Type":school_summary_data["type"],
                                                "Total Students":school_summary_data["size_y"],
                                                "Total School Budget":school_summary_data["budget_x"],
                                                "Per Student Budget":school_summary_data["Per Student Budget"],
                                                "Average Math Score":round(school_summary_data["math_score"],2),
                                                "Average Reading Score":round(school_summary_data["reading_score"],2),
                                                "% Passing Math":school_summary_data["% Passing Math"],
                                                "% Passing Reading":school_summary_data["% Passing Reading"],
                                                "% Overall Passing Rate":school_summary_data["% Overall Passing Rate"]})

#display result
df_school_summary_data

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,66.68,81.93,74.31
1,Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,95.59
2,Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,73.36
3,Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,73.80
4,Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,95.27
5,Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,66.75,80.86,73.81
6,Holden High School,Charter,427,248087.0,581.0,83.80,83.81,92.51,96.25,94.38
7,Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,73.50
8,Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,73.64
9,Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,95.27
10,Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,73.29
11,Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,93.87,95.85,94.86
12,Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,95.29
13,Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,95.20
14,Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,93.33,96.61,94.97

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [55]:
#top five performing school
df_top_five_perf_school = df_school_summary_data.sort_values(["% Overall Passing Rate"], ascending = False)

#display result 
df_top_five_perf_school.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
1,Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,94.13,97.04,95.59
12,Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,93.27,97.31,95.29
4,Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,93.39,97.14,95.27
9,Pena High School,Charter,962,585858.0,609.0,83.84,84.04,94.59,95.95,95.27
13,Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,93.87,96.54,95.20

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [56]:
#top five performing school
df_five_worst_perf_school = df_school_summary_data.sort_values(["% Overall Passing Rate"], ascending = True)

#display result 
df_five_worst_perf_school.head()

,School Name,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
10,Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,66.37,80.22,73.29
2,Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,65.99,80.74,73.36
7,Huang High School,District,2917,1910635.0,655.0,76.63,81.18,65.68,81.32,73.50
8,Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,66.06,81.22,73.64
3,Ford High School,District,2739,1763916.0,644.0,77.10,80.75,68.31,79.30,73.80

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [57]:
#define school_data_completE
school_data_complete["passing_math"] = school_data_complete["math_score"] >= 70
school_data_complete["passing_reading"] = school_data_complete["reading_score"] >= 70

school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,passing_math,passing_reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,False,True
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,False,True
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,True,False
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,False,True
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,False,True
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,True,False
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [58]:
#create a pandas series for each grade
df_nineth_grade = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["math_score"]
df_tenth_grade = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["math_score"]
df_eleventh_grade = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["math_score"]
df_twelveth_grade = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["math_score"]

#create dataframe to store result
math_grade_df = pd.DataFrame({"Nineth_Grade": df_nineth_grade, "Tenth_Grade": df_tenth_grade, 
                            "Eleventh_Grade": df_eleventh_grade, "Twelveth_Grade":  df_twelveth_grade})

#Print result
math_grade_df

,Nineth_Grade,Tenth_Grade,Eleventh_Grade,Twelveth_Grade
school_name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [59]:
#create a pandas series for each grade
df_nineth_grade = school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
df_tenth_grade = school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
df_eleventh_grade = school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
df_twelveth_grade = school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["reading_score"]

#create dataframe to store result
reading_grade_df = pd.DataFrame({"Nineth_Grade": df_nineth_grade, "Tenth_Grade": df_tenth_grade, 
                            "Eleventh_Grade": df_eleventh_grade, "Twelveth_Grade":  df_twelveth_grade})

#Print result
reading_grade_df

,Nineth_Grade,Tenth_Grade,Eleventh_Grade,Twelveth_Grade
school_name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699
Hernandez High School,80.866860,80.660147,81.396140,80.857143
Holden High School,83.677165,83.324561,83.815534,84.698795
Huang High School,81.290284,81.512386,81.417476,80.305983
Johnson High School,81.260714,80.773431,80.616027,81.227564
Pena High School,83.807273,83.612000,84.335938,84.591160
Rodriguez High School,80.993127,80.629808,80.864811,80.376426
Shelton High School,84.122642,83.441964,84.373786,82.781671
Thomas High School,83.728850,84.254157,83.585542,83.831361
Wilson High School,83.939778,84.021452,83.764608,84.317673
Wright High School,83.833333,83.812757,84.156322,84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [60]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

#group school spending by using 4 bins
school_summary_data["Spending Ranges(Per Student)"] = pd.cut(school_summary_data["Per Student Budget"], spending_bins, labels=group_names)

#create a group based of this bins
group_school_spending = school_summary_data.groupby("Spending Ranges(Per Student)").mean() 

#delete the columns that are not needed
del group_school_spending["Student ID"]
del group_school_spending["reading_score"]
del group_school_spending["math_score"]
del group_school_spending["School ID_x"]
del group_school_spending["size_x"]
del group_school_spending["budget_x"]
del group_school_spending["passing_math"]
del group_school_spending["passing_reading"]
del group_school_spending["Per Student Budget"]
del group_school_spending["School ID_y"]
del group_school_spending["size_y"]
del group_school_spending["budget_y"]


#print result
group_school_spending

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,% Overall Passing Rate
Spending Ranges(Per Student),,,,,
<$585,93.460000,96.610000,80.43,82.53,95.035000
$585-615,94.230000,95.900000,80.43,82.53,95.065000
$615-645,75.668333,86.106667,80.43,82.53,80.886667
$645-675,66.163333,81.133333,80.43,82.53,73.650000

## Scores by School Size

* Perform the same operations as above, based on school size.

In [61]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

#group school spending by using 4 bins
school_summary_data["School Size"] = pd.cut(school_summary_data["size_y"], size_bins, labels=group_names)

#create a group based of this bins
group_school_size = school_summary_data.groupby("School Size").mean() 

#delete the columns that are not needed
del group_school_size["Student ID"]
del group_school_size["reading_score"]
del group_school_size["math_score"]
del group_school_size["School ID_x"]
del group_school_size["size_x"]
del group_school_size["budget_x"]
del group_school_size["passing_math"]
del group_school_size["passing_reading"]
del group_school_size["Per Student Budget"]
del group_school_size["School ID_y"]
del group_school_size["size_y"]
del group_school_size["budget_y"]

#display result
group_school_size

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,% Overall Passing Rate
School Size,,,,,
Small (<1000),93.55000,96.10000,80.43,82.53,94.82500
Medium (1000-2000),93.59800,96.79000,80.43,82.53,95.19600
Large (2000-5000),69.96375,82.76625,80.43,82.53,76.36375

## Scores by School Type

* Perform the same operations as above, based on school type.

In [62]:
#Performing same operations as above
group_school_type = school_summary_data.groupby("type").mean()

del group_school_type["Student ID"]
del group_school_type["reading_score"]
del group_school_type["math_score"]
del group_school_type["School ID_x"]
del group_school_type["size_x"]
del group_school_type["budget_x"]
del group_school_type["passing_math"]
del group_school_type["passing_reading"]
del group_school_type["Per Student Budget"]
del group_school_type["School ID_y"]
del group_school_type["size_y"]
del group_school_type["budget_y"]

#display result
group_school_type

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,% Overall Passing Rate
type,,,,,
Charter,93.620000,96.586250,80.43,82.53,95.103750
District,66.548571,80.798571,80.43,82.53,73.672857

In [63]:
##written description of at least two observable trends based on the data
#1. Base on the result from the school type and looking at the %overall passing rate, 
#charter schools tend to perform better comapre to district schools. There is 95% overall passing rate for charter schools compare to 74% for district schools 

#2.Base on the result from school size, smaller schools tend to perform better. with an overall passing rate of %94. As the size of the school increases the overall passing rate drops. 
#There is a direct relationship between the size of the school and the performs of the student.